@model MvcApplication1.Models.Case

@{
    ViewBag.Title = "Edit case";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Case</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label ">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date, "Zmień '-' na '/' w przeciwnym wypadku nieprawidłowy format")
        </div>

        <div id="casesymptoms" class="float-right"></div>
        <div id="symptoms" class="float-right"></div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.userId)
        </div>*@
        <div class="editor-field">
            @Html.HiddenFor(model => model.userId)
            @*Html.EditorFor(model => model.userId)*@
            @Html.ValidationMessageFor(model => model.userId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        jQuery('#symptoms').load('@Url.Action("IndexAjax", "Symptoms") #inter', function () {
            jQuery('#symptoms .rowdata').draggable({ revert: 'invalid' });
            console.log("Symptoms ready!")
        });
        jQuery('#casesymptoms').load('@Url.Action("IndexAjax", "CaseSymptoms") #inter', function () {
            jQuery('#casesymptoms .dropzone').droppable({
                drop: function (event, ui) {
                    jQuery(this)
                    .addClass("ui-state-highlight");
                    var id = ui.draggable[0].id;
                    console.log('@Url.Action("Edit", "CaseSymptoms")')
                    jQuery.post(
                        '@Url.Action("Edit", "CaseSymptoms")',
                        {
                            id      : id,
                            userID  : 1
                        },
                        function (data) {
                            var part = jQuery(data).filter('div#body').find('section.content-wrapper').html().trim();
                            jQuery('#casesymptoms .dropzone').append('<div/>').html(part);
                            //part.find("div");
                            console.log(part);
                        }
                    )
                    console.log("Case symptoms dropped!");
                }
            });
            console.log("Case symptoms ready!")
        });
        jQuery(document).ready(function () {
            console.log("ready!")
        })
    </script>
}
